</div>				</article>
			</div> <!-- #page_main -->
		</div><!-- #primary -->

	</div><!-- #main -->


<div id="bottom_nav">

	<div class="bottom_navi_box">
		<ul>
			<li><h3>Search</h3></li>
			<li><a title="Retrieve sequence records by accession numbers" href="http://getentry.ddbj.nig.ac.jp/top-e.html">getentry</a></li>
			<li><a title="Retrieve sequence and annotation by keywords" href="http://ddbj.nig.ac.jp/arsa/">ARSA</a></li>
			<li><a title="Search and retrieve sequencing data." href="http://ddbj.nig.ac.jp/DRASearch/">DRA Search</a></li>
			<li><a title="Search unified taxonomy database" href="http://ddbj.nig.ac.jp/tx_search/?lang=en">TXSearch</a></li>
			<li><a title="Search nucleotide sequences by sequence similarity" href="http://blast.ddbj.nig.ac.jp/blastn?lang=en">BLAST</a></li>			
		</ul>
	</div>	
	<div class="bottom_navi_box">
		<ul>
			<li><h3>Analysis</h3></li>			
			<li><a title="Screen vector sequences" href="http://ddbj.nig.ac.jp/vecscreen/">Vector Screening System</a></li>
			<li><a title="Multiple alignment and tree-making" href="http://clustalw.ddbj.nig.ac.jp/index.php?lang=en">ClustalW</a></li>
			<li><a title="Web API for using the search services of DDB" href="https://www.ddbj.nig.ac.jp/search/help/wabi/wabi-j.html">WABI (Web API for Biology)</a></li>
			<li><a title="Analyze sequencing data on cloud-based super computers" href="https://p.ddbj.nig.ac.jp/">Read Annotation Pipeline</a></li>
			<li><a title="Download public data by ftp" href="ftp://ftp.ddbj.nig.ac.jp/">DDBJ FTP Site</a></li>
		</ul>
	</div>

	<div class="bottom_navi_box">
		<ul>
			<li><h3>Databases</h3></li>
			<li><a title="Annotated/Assembled Sequences (DDBJ)" href="https://www.ddbj.nig.ac.jp/ddbj/index-e.html">Annotated/Assembled Sequences (DDBJ)</a></li>
			<li><a title="Sequence Read Archive" href="https://www.ddbj.nig.ac.jp/dra/index-e.html">Sequence Read Archive (DRA)</a></li>
			<!-- <li><a title="Trace Archive" href="https://www.ddbj.nig.ac.jp/dta/index-e.html">Trace Archive</a></li> -->
			<li><a title="Genomic Expression Archive" href="https://www.ddbj.nig.ac.jp/gea/index-e.html">Genomic Expression Archive (GEA)</a></li>
			<li><a title="BioProject" href="https://www.ddbj.nig.ac.jp/bioproject/index-e.html">BioProject</a></li>
			<li><a title="BioSample" href="https://www.ddbj.nig.ac.jp/biosample/index-e.html">BioSample</a></li>
			<li><a title="Japanese Genotype-phenotype Archive" href="https://www.ddbj.nig.ac.jp/jga/index-e.html">Japanese Genotype-phenotype Archive (JGA)</a></li>
			<li><a title="Submission portal D-way" href="https://ddbj.nig.ac.jp/D-way">Submission portal D-way</a></li>
		</ul>
	</div>
	<div class="bottom_navi_box">
		<ul>
			<li><h3>NIG SuperComputer</h3></li>
			<li><a title="NIG SuperComputer" href="https://sc.ddbj.nig.ac.jp/en">NIG SuperComputer</a></li>
		</ul>

		<ul>
			<li><h3>DDBJ Information</h3></li>
			<li><a title="" href="https://www.ddbj.nig.ac.jp/training-e.html">Training</a></li>
			<li><a title="News feeds from DDBJ" href="https://www.ddbj.nig.ac.jp/announcements-e.html">DDBJ RSS<img src="https://www.ddbj.nig.ac.jp/images/parts/rss_icon.svg" width="15px" height="15px"></a></li>
			<li class="image_menu"><a title="DDBJ Twitter" href="https://twitter.com/DDBJ_topics">DDBJ on Twitter<img src="https://www.ddbj.nig.ac.jp/images/parts/twitter_icon.svg" width="15px" height="15px"></a></li>
			<li class="image_menu"><a title="DDBJ facebook" href="https://www.facebook.com/ddbjcenter/">DDBJ on facebook<img src="https://www.ddbj.nig.ac.jp/images/parts/facebook_icon.svg"></a></li>
			<li><a title="Introduction of DDBJ by Youtube videos" href="https://www.youtube.com/user/ddbjvideo">DDBJ on Youtube<img src="https://www.ddbj.nig.ac.jp/images/parts/youtube_icon.svg" width="15px" height="15px"></a></li>
			<li class="image_menu"><a title="Source codes and files" href="https://github.com/ddbj/">DDBJ on GitHub<img src="https://www.ddbj.nig.ac.jp/images/parts/github_icon.svg"></a></li>
			<li class="image_menu"><a title="Report and presentation documents" href="https://drive.google.com/drive/u/2/folders/1E0cxLbWV8RGYUdNs0oKfXMij0TzJDQVD">DDBJ on Google Drive<img src="https://www.ddbj.nig.ac.jp/images/parts/gdrive.svg"></a></li>
		</ul>
	</div>
	<div class="bottom_navi_box partners">
		<ul>
			<li><h3>Partners</h3></li>
			<li><a href="https://www.nig.ac.jp/nig/"><img src="https://www.ddbj.nig.ac.jp/images/logos/nig.svg" alt="NIG logo" title="NIG" width="150" height="45"></a></li>
			<li><a href="http://www.rois.ac.jp/en/index.html"><img src="https://www.ddbj.nig.ac.jp/images/logos/rois.svg" alt="ROIS logo" title="ROIS" width="150" height="45"></a></li>
			<li><a href="http://jbioinfo.jp/"><img src="https://www.ddbj.nig.ac.jp/images/logos/jbi.svg" alt="JBI logo" title="JBI Portal" width="150" height="45"></a></li>
			<li><a href="https://biosciencedbc.jp/en/"><img src="https://www.ddbj.nig.ac.jp/images/logos/nbdc.svg" alt="NBDC logo" title="NBDC" width="150" height="45"></a></li>
			<li><a href="https://dbcls.rois.ac.jp/index-en.html"><img src="https://www.ddbj.nig.ac.jp/images/logos/dbcls.svg" alt="DBCLS logo" title="DBCLS" width="150" height="45"></a></li>
			<li><a href="https://pdbj.org/"><img src="https://www.ddbj.nig.ac.jp/images/logos/pdbj.svg" alt="PDBj logo" title="PDBj" width="150" height="45"></a></li>
		</ul>
	</div>




</div> 

<!-- #bottom_nav-->
  <footer>

  <div id="footer_original" class="clearfix">
    <ul class="menu">      
      <li><a href="https://www.ddbj.nig.ac.jp/policies-e.html" title="Policies and Disclaimers">Policies and Disclaimers</a></li>
      <li><a title="News archives" href="https://www.ddbj.nig.ac.jp/news/en/index-e.html">News</a></li>
      <li><a href="https://www.ddbj.nig.ac.jp/faq/en/index-e.html" title="Frequently asked questions" >FAQs</a></li>
      <li><a title="Sitemap" href="https://www.ddbj.nig.ac.jp/sitemap-e.html">Sitemap</a></li>
      <li class="calendar"><a href="https://www.ddbj.nig.ac.jp/calendar-e.html" title="DDBJ Center Calendar">Calendar</a></li>
      <li class="address"><address><a href="https://www.ddbj.nig.ac.jp/access-e.html" title="DDBJ Center address" >Address</a></address></li>
      <li class="footer_contact"><a href="https://www.ddbj.nig.ac.jp/contact-e.html" title="Contact to DDBJ Center" >Contact</a></li>
      <li class="last_modified">Last modified: <time>2019-01-07</time></li>
    </ul>
  </div>
  </footer>
</div><!-- #page -->


</body>
</html>
