<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>DDBJ Ontologies</title>
<link rel="stylesheet" type="text/css" media="all" href="https://www.ddbj.nig.ac.jp/css/style.css">
<link rel="stylesheet" type="text/css" media="print" href="https://www.ddbj.nig.ac.jp/css/print.css">
<link href="https://www.ddbj.nig.ac.jp/images/favicon.ico" rel="shortcut icon">
<meta property="og:title" content="Ontologies"><meta property="og:url" content="/ontologies/index.html"><meta property="og:description" content="Bioinformation and DDBJ Center provides sharing and analysis services for data from life science researches and advances science.

 



    

Search &amp;#038; Analysis
        
    
    …"><meta property="og:image" content="https://www.ddbj.nig.ac.jp/images/thumbnail/logo_ddbj_fb.png"><script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js'></script>
<script type='text/javascript' src='https://use.fontawesome.com/da0fe5cd36.js'></script>
<script type='text/javascript' src='https://www.ddbj.nig.ac.jp/js/jquery.hoverIntent.min.js'></script>
<script type='text/javascript' src='https://www.ddbj.nig.ac.jp/js/spin.min.js'></script>
<script type='text/javascript' src='https://www.ddbj.nig.ac.jp/js/jquery.colorbox-min.js'></script>
<script type='text/javascript' src='https://www.ddbj.nig.ac.jp/js/jquery.trace.js'></script>
<script type='text/javascript' src='https://www.ddbj.nig.ac.jp/js/jquery.json_search.js'></script>
<link rel="canonical" href="https://www.ddbj.nig.ac.jp/index-e.html" />
<meta name="google-site-verification" content="Q5AOCRKeOP0-Mwdn4sGeL23zw11x_bYzZJNJ9RBaBlI">
<!-- Google Analytics -->
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-26707511-1', 'auto');
    ga('send', 'pageview');
</script>
<!-- End Google Analytics -->
</head>

<body class="home page-template page-template-page-top page-template-page-top-php page page-id-2644 custom-background noscript top en top-front">

<div id="page" class="top">

    <header id="branding">
        <!-- トップナビゲーション -->
        <div id="header" class="clearfix">
            <div id="header-top">
                <a href="https://www.ddbj.nig.ac.jp/index-e.html" title="DNA Data Bank of Japan" rel="home"><img class="logo" src="https://www.ddbj.nig.ac.jp/images/parts/ddbj-logo-white.svg" width="50" height="23"></a>                <div id="header-top-left">                                    
                    <span class="resources-btn">Services<i class="fa fa-angle-double-down svg-triangle header-left-menu down" aria-hidden="true"></i><i class="fa fa-angle-double-up svg-triangle header-left-menu up" aria-hidden="true"></i></span>                     
                </div><!-- #header-top-left -->
                <div id="header-top-right">
                    <ul><li><a href="https://ddbj.nig.ac.jp/D-way">Login & Submit</a></li><li><a href="https://www.ddbj.nig.ac.jp/policies-e.html">Policies and Disclaimers</a></li><li class="contact-form"><a href="https://www.ddbj.nig.ac.jp/contact-e.html">Contact</a></li><li class="language"><a href="https://www.ddbj.nig.ac.jp/index.html">Japanese</a></li></ul>                </div><!-- #header-top-left --> 
            </div> <!-- #header-top -->

<div class="resources-contents">
                        <div class="boxContainer">                    
                           <div class="resources-box">
                                <ul class="resources-box-item">
                                    <li><h3><img src="https://www.ddbj.nig.ac.jp/images/logos/service-org.svg">Search</h3></li>
                                    <li><a title="Retrieve sequence records by accession numbers" href="http://getentry.ddbj.nig.ac.jp/top-e.html">getentry</a></li>
                                    <li><a title="Retrieve sequence and annotation by keywords" href="http://ddbj.nig.ac.jp/arsa/">ARSA</a></li>
                                    <li><a title="Search and retrieve sequencing data." href="http://ddbj.nig.ac.jp/DRASearch">DRA Search</a></li>
                                    <li><a title="Search unified taxonomy database" href="http://ddbj.nig.ac.jp/tx_search/?lang=en">TXSearch</a></li>
                                    <li><a title="Search nucleotide sequences by sequence similarity" href="http://blast.ddbj.nig.ac.jp/blastn?lang=en">BLAST</a></li>
                                </ul>
                                <ul class="resources-box-item">
                                    <li><h3><img src="https://www.ddbj.nig.ac.jp/images/logos/wrench.svg">Analysis</h3></li>
                                    <li><a title="Screen vector sequences" href="http://ddbj.nig.ac.jp/vecscreen/">Vector Screening System</a></li>
                                    <li><a title="Multiple alignment and tree-making" href="http://clustalw.ddbj.nig.ac.jp/index.php?lang=en">ClustalW</a></li>
                                    <li><a title="Web API for using the search services of DDB" href="https://www.ddbj.nig.ac.jp/search/help/wabi/wabi-e.html">WABI (Web API for Biology)</a></li>
                                    <li><a title="Analyze sequencing data on cloud-based super computers" href="https://p.ddbj.nig.ac.jp/">Read Annotation Pipeline</a></li>
                                    <li><a title="Download public data by ftp" href="ftp://ftp.ddbj.nig.ac.jp/">DDBJ FTP Site</a></li>
                                </ul>
                            </div>
                            <div class="resources-box">
                                <ul class="resources-box-item">
                                    <li><h3><img src="https://www.ddbj.nig.ac.jp/images/logos/database-org.svg">Databases</h3></li>
                                    <li><a title="Annotated/Assembled Sequences (DDBJ)" href="https://www.ddbj.nig.ac.jp/ddbj/index-e.html">Annotated/Assembled Sequences (DDBJ)</a></li>
                                    <li><a title="Sequence Read Archive" href="https://www.ddbj.nig.ac.jp/dra/index-e.html">Sequence Read Archive (DRA)</a></li>
                                    <li><a title="Genomic Expression Archive" href="https://www.ddbj.nig.ac.jp/gea/index-e.html">Genomic Expression Archive (GEA)</a></li>
                                    <li><a title="BioProject" href="https://www.ddbj.nig.ac.jp/bioproject/index-e.html">BioProject</a></li>
                                    <li><a title="BioSample" href="https://www.ddbj.nig.ac.jp/biosample/index-e.html">BioSample</a></li>
                                    <li><a title="Japanese Genotype-phenotype Archive" href="https://www.ddbj.nig.ac.jp/jga/index-e.html">Japanese Genotype-phenotype Archive (JGA)</a></li>
                                    <li><a title="Submission portal D-way" href="https://ddbj.nig.ac.jp/D-way">Submission portal D-way</a></li>
                                </ul>
                                <ul class="resources-box-item">
                                    <li><h3><img src="https://www.ddbj.nig.ac.jp/images/logos/sc-org.svg">NIG SuperComputer</h3></li>
                                    <li><a title="NIG SuperComputer" href="https://sc.ddbj.nig.ac.jp/en">NIG SuperComputer</a></li>
                                </ul>
                            </div>
                            <div class="resources-box dbcls">
                                <ul class="resources-box-item">
                                    <li><h3><img src="https://www.ddbj.nig.ac.jp/images/logos/dbcls-s.svg">DBCLS Services</h3></li>
                                    <li><a title="Statistics and trends of gene expression data" href="http://aoe.dbcls.jp/en">AOE</a></li>
                                    <li><a title="Designing CRISPR/Cas9 guide RNA with reduced off-target sites" href="https://crispr.dbcls.jp/">CRISPRdirect</a></li>
                                    <li><a title="Statistics and trends of SRA data" href="http://sra.dbcls.jp/">DBCLS SRA</a></li>
                                    <li><a title="Functional profiling of gene and disease features for omics analysis" href="http://gendoo.dbcls.jp/">Gendoo</a></li>
                                    <li><a title="A ultrafast sequence search" href="https://gggenome.dbcls.jp/en/">GGGenome</a></li>
                                    <li><a title="A Google-like, ultrafast search engine for genes and transcripts" href="https://ggrna.dbcls.jp/en/">GGRNA</a></li>
                                    <li><a title="A web tool for a comfortable search of reference data for gene expression analysis" href="http://refex.dbcls.jp/index.php?lang=en">RefEx</a></li>
                                </ul>
                            </div>
                        </div>
                    </div><!-- .resources-contents -->

            <div id="header-middle"  class="clearfix">
                <div class="page-title"><a href="https://www.ddbj.nig.ac.jp/ontologies/index.html">Ontologies</a></div>  
                <!-- 検索窓 -->
                
	<div class="search-box">
  		<form action="https://www.google.com/cse" id="cse-search-box">
	    <div id="search-box-flex"><input type="hidden" name="cx" value="003756275038197888315:s6bgrvq6dgq">
		<div class="search-options-wrapper">
		  <label>
			  <select id="search-options">		    
			      <option value="web" selected>BI-DDBJ Web Sites</option>		    
			      <option value="ddbj">Annotated/Assembled Sequences</option>
			      <option value="dra">Sequence Read Archive</option>		    
			  </select>
		  </label>
		</div>
	      <input type="hidden" name="ie" value="UTF-8"><input type="text" name="q" id="search-text" class="search-text" placeholder="Custom Search">	      	      
	      <input id="search-btn" type="image" src="https://www.ddbj.nig.ac.jp/images/parts/search_box_icon.png" name="sa" value="Search" class="search-go">
	    </div>
	    <input name="siteurl" type="hidden" value="www.ddbj.nig.ac.jp/">
	    <input name="ref" type="hidden" value="">
	    <input name="ss" type="hidden" value="">
	  </form>
	</div> <!-- .search-box --> 
            </div> <!-- #header-mid dle -->
            <div id="header-bottom">
                            </div> <!-- header_bottom -->
        </div> <!-- #header -->
    </header><!-- #branding -->

    <div id="main" class="clearfix" style="min-height: 500px;">

    <!-- パンくずリスト -->
        
		<div id="primary">
			<div id="page_main">
				<article>
<div"ddbj_news">
